<div class="container-fluid mt-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Home</li>
      <li class="breadcrumb-item active" aria-current="page">Clientes</li>
    </ol>
  </nav>

  <a class="btn btn-success" (click)="showModal()">Novo Cliente</a>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Documento</th>
        <th scope="col" colspan="2" class="text-center">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of lista">
        <th scope="row">{{ obj.id }}</th>
        <td>{{ obj.nome }}</td>
        <td>{{ obj.documento }}</td>
        <td class="text-center">
          <a class="btn btn-info">Editar</a>
          <a class="btn btn-danger">Deletar</a>
        </td>
      </tr>
    </tbody>
  </table>

  <app-modal #modal></app-modal>
</div>
